@model PostViewModel

<div id="post-@Model.Post.Id" class="post">
    <div id="post-body-@Model.Post.Id" class=@(Model.Post.IsOp ? "op_post_body" : "post_body")>
        <div id="post-details-@Model.Post.Id" class="post_details">
            <input id="delete-post-checkbox" type="checkbox" name="ids[@(Model.Post.Id)]" value=@Model.Post.Id>
            <span class="post_title">@(Model.Post.Title ?? "")</span>
            <span class="poster_name">@(Model.Post.PosterName ?? "Anonymous")</span>
            <span>@Model.Post.Time</span>
            <span class="post_link"> <a href="/#@Model.Post.Id">№@Model.Post.Id</a> </span>
            <span class="sage">@(Model.Post.IsSage ? "▼" : "")</span>
            @if (!Model.IsFromShortcutTread)
            {
                <span class="post_number">#@(Model.NumberInTread)</span>
            }
            @if (Model.Post.IsOp)
            {
                if (Model.IsFromShortcutTread)
                {
                    @("[")<a asp-route="Tread" asp-route-boardName=@Model.Post.BoardName 
                             asp-route-treadId=@Model.Post.TreadId>Reply</a>@("]")
                }
                else
                {
                    @("[")<a asp-route="Board" asp-route-boardName=@Model.Post.BoardName>Back</a>@("]")
                }
            }
        </div>
        @if (Model.Post.Image != null) @await Html.PartialAsync("_Image", Model.Post.Image)
        <blockquote id="message-@Model.Post.Id" class="post_message">
            @Html.Raw(Model.Post.Message ?? "")
        </blockquote>
    </div>
</div>