@model PostViewModel

<table>
    <tbody>
        <tr>
            <td class="doubledash">&gt;&gt;</td>
            <td class="reply" id="@Model.Post.Id">
                <a name="@Model.Post.Id"></a>
                <label>
                    <input type="checkbox" name="ids[@(Model.Post.Id)]" value="@Model.Post.Id">
                    <span class="replytitle">@(Model.Post.Title ?? "")</span>
                    <span class="commentpostername">@(Model.Post.PosterName ?? "Аноним")</span>
                    <span class="posttime">@Model.Post.PostTime.ToString("dd.MM.yyyy (ddd) hh:mm:ss")</span>
                </label>
                <span class="reflink"> <a href="/#@Model.Post.Id">№@Model.Post.Id</a> </span>
                @if (!Model.IsFromShortcutTread)
                {
                    <span class="postnum">#@(Model.Post.NumberInTread + 1)</span>
                }
                <span class="postnum">#@(Model.Post.NumberInTread + 1)</span>
                <blockquote> <p>@(Model.Post.Message ?? "")</p> </blockquote>
            </td>
        </tr>
    </tbody>
</table>