@model ReplyFormViewModel

<div class="theader">@Model.ActionNameInView</div>
<div class="postarea">
    <form id="postform" method="post" enctype="multipart/form-data" asp-action="@Model.Action">
        <table width="1%">
            <tbody>
                <tr>
                    <td class="postblock">Тема</td>
                    <td>
                        <input type="text" name="title" size="35">
                        @if (Model.Action == ReplyFormAction.CreateTread)
                        {
                            <input type="hidden" name="boardId" value="@Model.ChageTargetBoard.Id">
                            <input type="hidden" name="NumberInTread" value="0">
                        }
                        else
                        {
                            <input type="hidden" name="treadId" value="@Model.ChageTargetTread.Id">
                            <input type="hidden" name="NumberInTread" value="@Model.ChageTargetTread.Posts.Count()">
                        }
                        <input type="submit" value="Отправить">
                    </td>
                </tr>
                <tr>
                    <td class="postblock">Сообщение</td>
                    <td>
                        <textarea name="message" cols="60" rows="6" spellcheck="false" data-gramm="false"></textarea>
                    </td>
                </tr>
                <!-- <tr><td class="postblock">Файл</td><td><input type="file" name="file" size="35"></td></tr> -->
            </tbody>
        </table>
    </form>
</div>